<html>
<head>
  <title>Stats</title>
  <style>
    * {
      font-family: 'Tilt Warp', cursive;
    }

    #container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 200px;
      width: 300px;
      background: #363636;
      border-radius: 10px;
    }

    #container::before, #container::after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 310px;
      height: 210px;
      margin-top: -5px;
      background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
      background-size: 300%;
      border-radius: 10px;
      animation: border-animation 4s infinite alternate linear;
    }

    #container::after {
      filter: blur(20px);
    }

    #rainbow {
      background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
      animation: border-animation 4s infinite alternate linear;
      background-size: 300%;
    }

    @keyframes border-animation {
      0% {
        background-position: 0;
      }
      100% {
        background-position: 100%;
      }
    }

    .progress-bar {
      margin-top: 16px;
      height: 4px;
      width: 0;
      border-radius: 5px;
      transition: width 1s ease-in-out;
    }

    #progress-bar {
      width: 100%;
      display: flex;
    }

    #rank {
      display: flex;
      flex-direction: column;
      width: 80%;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }

    #rank-label {
      font-family: 'Tilt Warp', cursive;
    }

  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
<div id="container">
  <h3 style="align-self: flex-start; margin-left: 16px" id="user"></h3>

  <div
    style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 90%; margin-top: 8px">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center">
      <h3 style="margin: 0">Commits</h3>
      <h1 style="margin: 0" id="commits"></h1>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center">
      <h3 style="margin: 0">Stars</h3>
      <h1 style="margin: 0" id="stars"></h1>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center">
      <h3 style="margin: 0">Languages</h3>
      <h1 style="margin: 0" id="languages"></h1>
    </div>
  </div>

  <div id="rank">
    <div id="progress-bar">
      <div id="progress" class="progress-bar"></div>
      <div id="rest-of-progress" class="progress-bar"></div>
    </div>
    <div id="rank-label"></div>
  </div>
</div>
<script>
  const commits = {{commits}};
  const stars = {{stars}};
  const languages = {{languages}};
  const user = '{{user}}';

  let rank = "";
  let color = "";

  if (commits < 10) {
    rank = "Beginner developer";
  } else if (commits < 60) {
    rank = "Intermediate developer";
  } else if (commits < 200) {
    rank = "Expert developer";
  } else {
    rank = "Legend developer";
  }

  switch (rank) {
    case "Beginner developer":
      color = "red";
      break;
    case "Intermediate developer":
      color = "orange";
      break;
    case "Expert developer":
      color = "green";
      break;
    case "Legend developer":
      color = "blue";
      break;
  }

  let rankPercentage = (commits / 50) * 100;
  if (rankPercentage > 100) {
    rankPercentage = 100;
  }

  const progressBar = document.getElementById("progress");
  progressBar.style.width = `${rankPercentage}%`;
  progressBar.style.backgroundColor = color;
  if (rank === "Legend developer")
    progressBar.id = "rainbow";


  const restOfProgressBar = document.getElementById("rest-of-progress");
  restOfProgressBar.style.width = `${100 - rankPercentage}%`;
  restOfProgressBar.style.backgroundColor = "#646464";
  restOfProgressBar.style.borderTopLeftRadius = "0";
  restOfProgressBar.style.borderBottomLeftRadius = "0";
  restOfProgressBar.style.marginLeft = "-2px";

  const rankLabel = document.getElementById("rank-label");
  rankLabel.innerHTML = rank;

  const commitsLabel = document.getElementById("commits");
  commitsLabel.innerHTML = commits;

  const starsLabel = document.getElementById("stars");
  starsLabel.innerHTML = stars;

  const languagesLabel = document.getElementById("languages");
  languagesLabel.innerHTML = languages;

  const userLabel = document.getElementById("user");
  userLabel.innerHTML = user + " GitHub Stats";
</script>
</body>
</html>